{% extends 'home/wrapper.html'%}

{% block title %}
    Follow to hide
{% endblock %}




{% block style %}

    <style>
        .hide{
            position: absolute;
            left: 26%;
            top: 50%;
            filter: brightness(30%);
            }

        .ambassador{
            position: absolute;
            left: 76%;
            top: 40%;
            }
    </style>

{% endblock %}




{% block content %}
{% load static %}

<img alt="hide" border="3" class="hide" src="{% static 'home/images/h.jpg' %}" width="650px" height="350px">
<img alt="ambassador" border="3" class="ambassador" src="{% static 'home/images/people.jpg' %}" width="300px" height="600px">

{% endblock %}